ion-content {
  --background: #f4f6f9;
}


.container {
  max-width: 700px;
  margin: auto;
}


.episode-card {
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  margin-bottom: 10px;
  transition: transform 0.15s ease;
}

.episode-card:hover {
  transform: scale(1.01);
}


.episode-title {
  font-weight: 600;
  font-size: 16px;
}

.episode-info {
  color: #666;
  font-size: 13px;
}
