<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Episodios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">

    <ion-spinner
      *ngIf="loading"
      style="display:block; margin:20px auto;">
    </ion-spinner>

    <ion-card
      class="episode-card"
      *ngFor="let ep of episodes"
      (click)="openEpisode(ep.id)"
      button>

      <ion-card-content>
        <div class="episode-title">
          {{ ep.name }}
        </div>

        <div class="episode-info">
          {{ ep.episode }} • {{ ep.air_date }}
        </div>
      </ion-card-content>

    </ion-card>

  </div>
</ion-content>


