<ion-header>
  <ion-toolbar>
    <ion-title>Episodios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Loader -->
  <ion-spinner *ngIf="loading" style="display:block; margin:20px auto;"></ion-spinner>

  <!-- Lista -->
  <ion-list *ngIf="!loading">
    <ion-item
      *ngFor="let ep of episodes"
      button
      (click)="openEpisode(ep.id)">

      <ion-label>
        <h2>{{ ep.name }}</h2>
        <p>{{ ep.episode }} - {{ ep.air_date }}</p>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>

