ion-content {
  --background: #f4f6f9;
}


ion-avatar img {
  border-radius: 50%;
}


ion-card {
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}


ion-item {
  --border-radius: 10px;
  margin-bottom: 6px;
}
