<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ episode?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <ion-spinner
    *ngIf="loading"
    style="display:block; margin:20px auto;">
  </ion-spinner>

  <div *ngIf="!loading && episode">

    
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ episode.episode }}</ion-card-title>
        <ion-card-subtitle>{{ episode.air_date }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    
    <ion-list>
      <ion-item *ngFor="let char of episode.characters">
        <ion-avatar slot="start">
          <img [src]="char.image">
        </ion-avatar>

        <ion-label>
          <h2>{{ char.name }}</h2>
          <p>{{ char.status }} • {{ char.species }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
